$main-text-color: rgba(144, 126, 130, 1);
$secondary-text-color: rgba(0, 0, 0, 1);
$extra-text-color: rgba(255, 255, 255, 1);

$title-color: rgba(212, 20, 67, 1);
$sub-title-color: rgba(255, 165, 186, 1);

$accent-color: rgba(212, 20, 67, 1);

$main-bg-color: #ffffff;
$secondary-bg-color: rgba(255, 245, 246, 1);
$extra-bg-color: rgba(255, 165, 186, 1);
