<section class="advent">
  <div class="container">
    <h1 class="advent-title hidden">Переваги</h1>
    <ul class="advent__list">
      <li
        class="advent__item icon__first"
        data-aos="zoom-in"
        data-aos-duration="500"
      >
        <p class="advent__number">721</p>
        <p class="advent__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li
        class="advent__item icon__second"
        data-aos="zoom-in"
        data-aos-duration="1000"
      >
        <p class="advent__number">16KG</p>
        <p class="advent__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li
        class="advent__item icon__third"
        data-aos="zoom-in"
        data-aos-duration="1500"
      >
        <p class="advent__number">84</p>
        <p class="advent__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
