<section class="container advent">
    <h1 class="advent-title">Переваги</h1>
<ul class="advent__list">
    <li class="advent__item">
        <svg class="advent__icon" width="32" height="32">
            <use href="./images/symbol-defs.svg#icon-advantages-min"></use>
          </svg>
        <span>721</span>
        <span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span>
     </li>   
     <li class="advent__item">
        <svg class="advent__icon" width="32" height="32">
            <use href="./images/symbol-defs.svg#icon-advantages-2-min"></use>
          </svg>
        <span>16KG</span>
        <span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span>
     </li>   
     <li class="advent__item">
        <svg class="advent__icon" width="32px" height="32px">
            <use href="./images/symbol-defs.svg#icon-advantages-3-min"></use>
          </svg>
        <span>84</span>
        <span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span>
     </li>   
    </ul>    
</section>    