<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contact" data-aos="fade-left" data-aos-duration="800">
        <div class="contact-container">
          <p class="category">CAFE</p>
          <h3 class="contacts__header">Chicago</h3>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>

          <ul class="agenda">
            <li>
              <p class="agenda__days">Monday - Friday</p>
              <p class="agenda__hours">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p class="agenda__days">Saturday - Sunday</p>
              <p class="agenda__hours">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <a href="tel:+610383766284" class="contact__itam"
            >+61(0) 383 766 284
          </a>
          <a href="mailto:noreply@envato.com" class="contact__itam"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contact" data-aos="fade-up" data-aos-duration="800">
        <div class="contact-container">
          <p class="category--color">FOOD TRUCK</p>
          <h3 class="contacts__header">Los Angeles</h3>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="agenda">
            <li>
              <p class="agenda__days">Monday - Friday</p>
              <p class="agenda__hours">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p class="agenda__days">Saturday - Sunday</p>
              <p class="agenda__hours">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <a href="tel:+610383766284" class="contact__itam"
            >+61(0) 383 766 284
          </a>
          <a href="mailto:noreply@envato.com" class="contact__itam"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contact" data-aos="fade-right" data-aos-duration="800">
        <div class="contact-container">
          <p class="category">CAFE</p>
          <h3 class="contacts__header">New York</h3>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="agenda">
            <li>
              <p class="agenda__days">Monday - Friday</p>
              <p class="agenda__hours">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p class="agenda__days">Saturday - Sunday</p>
              <p class="agenda__hours">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <a href="tel:+610383766284" class="contact__itam"
            >+61(0) 383 766 284
          </a>
          <a href="mailto:noreply@envato.com" class="contact__itam"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <div class="button-section">
      <button
        type="button"
        class="button-section__itam--red btn-keyframe locmodal-open-btn"
        locations-modal-open
      >
        Our Locations
        <svg width="12" height="10">
          <use href="./images/symbol-defs.svg#icon-white"></use>
        </svg>
      </button>

      <button type="button" class="button-section__itam--white btn-keyframe">
        Franchise
        <svg width="12" height="10">
          <use href="./images/symbol-defs.svg#icon-red"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
