<div class="container">
  <div class="gallery">
    <img
      srcset="./images/gallery-mob-1x-min.png 1x ./images/gallery-mob-2x-min.png 2x"
      src="./images/gallery-mob-1x-min.png"
      alt="ice cream gallery"
    />
  </div>
  <!-- <div class="gallery__wrapper">
    <div class="gallery__item item-1">
      <img
        srcset="./images/gallery1_1x.png 1x, ./images/gallery1_2x.png 2x"
        src="./images/gallery1_1x.png"
        alt="ice cream"
        width="44"
      />
    </div>
    <div class="gallery__item item-2">
      <img
        srcset="./images/gallery2_1x.png 1x, ./images/gallery2_2x.png 2x"
        src="./images/gallery2_1x.png"
        alt="ice cream"
        width="44"
      />
    </div>
    <div class="gallery__item item-3">
      <img
        srcset="./images/gallery3_1x.png 1x, ./images/gallery3_2x.png 2x"
        src="./images/gallery3_1x.png"
        alt="ice cream"
        width="89"
        height="89"
      />
    </div>
    <div class="gallery__item item-4">
      <img
        srcset="./images/gallery4_1x.png 1x, ./images/gallery4_2x.png 2x"
        src="./images/gallery4_1x.png"
        alt="ice cream"
        width="44"
      />
    </div>
    <div class="gallery__item item-5">
      <img
        srcset="./images/gallery5_1x.png 1x, ./images/gallery5_2x.png 2x"
        src="./images/gallery5_1x.png"
        alt="ice cream"
        width="44"
      />
    </div>
    <div class="gallery__item item-6">
      <img
        srcset="./images/gallery6_1x.png 1x, ./images/gallery6_2x.png 2x"
        src="./images/gallery6_1x.png"
        alt="ice cream"
        width="44"
      />
    </div>
    <div class="gallery__item item-7">
      <img
        srcset="./images/gallery7_1x.png 1x, ./images/gallery7_2x.png 2x"
        src="./images/gallery7_1x.png"
        alt="ice cream"
        width="44"
      />
    </div>
    <div class="gallery__item item-8">
      <img
        srcset="./images/gallery8_1x.png 1x, ./images/gallery8_2x.png 2x"
        src="./images/gallery8_1x.png"
        alt="ice cream"
        width="44"
      />
    </div>
    <div class="gallery__item item-9">
      <img
        srcset="./images/gallery9_1x.png 1x, ./images/gallery9_2x.png 2x"
        src="./images/gallery9_1x.png"
        alt="ice cream"
        width="44"
      />
    </div>
    <div class="gallery__item item-10">
      <img
        srcset="./images/gallery10_1x.png 1x, ./images/gallery10_2x.png 2x"
        src="./images/gallery10_1x.png"
        alt="ice cream"
        width="44"
      />
    </div>
  </div> -->
</div>
