<section class="gallery">
  <div class="container">
    <div class="gallery__wrapper">
      <div class="gallery__item col-1">
        <picture
          class="gallery__image"
          data-aos="zoom-in"
          data-aos-duration="200"
        >
          <source
            srcset="
              ./images/gallery1_pc_1x.png 1x,
              ./images/gallery1_pc_2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery1_tab_1x.png 1x,
              ./images/gallery1_tab_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery_mob1_1x.png 1x,
              ./images/gallery_mob1_2x.png 2x
            "
            media="(min-width: 300px)"
          />
          <img src="./images/gallery_mob1_1x.png" alt="ice cream" />
        </picture>
      </div>
      <div class="gallery__item col-2">
        <picture
          class="gallery__image"
          data-aos="zoom-in"
          data-aos-duration="400"
        >
          <source
            srcset="
              ./images/gallery2_pc_1x.png 1x,
              ./images/gallery2_pc_2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery2_tab_1x.png 1x,
              ./images/gallery2_tab_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery_mob2_1x.png 1x,
              ./images/gallery_mob2_2x.png 2x
            "
            media="(min-width: 300px)"
          />
          <img src="./images/gallery_mob2_1x.png" alt="ice cream" />
        </picture>
        <picture
          class="gallery__image"
          data-aos="zoom-in"
          data-aos-duration="600"
        >
          <source
            srcset="
              ./images/gallery7_pc_1x.png 1x,
              ./images/gallery7_pc_2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery7_tab_1x.png 1x,
              ./images/gallery7_tab_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery_mob7_1x.png 1x,
              ./images/gallery_mob7_2x.png 2x
            "
            media="(min-width: 300px)"
          />
          <img src="./images/gallery_mob7_1x.png" alt="ice cream" />
        </picture>
      </div>
      <div class="gallery__item col-3">
        <picture
          class="gallery__image"
          data-aos="zoom-in"
          data-aos-duration="800"
        >
          <source
            srcset="
              ./images/gallery3_pc_1x.png 1x,
              ./images/gallery3_pc_2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery3_tab_1x.png 1x,
              ./images/gallery3_tab_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery_mob3_1x.png 1x,
              ./images/gallery_mob3_2x.png 2x
            "
            media="(min-width: 300px)"
          />
          <img src="./images/gallery_mob3_1x.png" alt="ice cream" />
        </picture>
        <picture
          class="gallery__image"
          data-aos="zoom-in"
          data-aos-duration="1000"
        >
          <source
            srcset="
              ./images/gallery8_pc_1x.png 1x,
              ./images/gallery8_pc_2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery8_tab_1x.png 1x,
              ./images/gallery8_tab_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery_mob8_1x.png 1x,
              ./images/gallery_mob8_2x.png 2x
            "
            media="(min-width: 300px)"
          />
          <img src="./images/gallery_mob8_1x.png" alt="ice cream" />
        </picture>
      </div>
      <div class="gallery__item col-4">
        <picture
          class="gallery__image"
          data-aos="zoom-in"
          data-aos-duration="1200"
        >
          <source
            srcset="
              ./images/gallery4_pc_1x.png 1x,
              ./images/gallery4_pc_2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery4_tab_1x.png 1x,
              ./images/gallery4_tab_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery_mob4_1x.png 1x,
              ./images/gallery_mob4_2x.png 2x
            "
            media="(min-width: 300px)"
          />
          <img src="./images/gallery_mob4_1x.png" alt="ice cream" />
        </picture>
        <picture
          class="gallery__image"
          data-aos="zoom-in"
          data-aos-duration="1400"
        >
          <source
            srcset="
              ./images/gallery9_pc_1x.png 1x,
              ./images/gallery9_pc_2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery9_tab_1x.png 1x,
              ./images/gallery9_tab_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery_mob9_1x.png 1x,
              ./images/gallery_mob9_2x.png 2x
            "
            media="(min-width: 300px)"
          />
          <img src="./images/gallery_mob9_1x.png" alt="ice cream" />
        </picture>
      </div>
      <div class="gallery__item col-5">
        <picture
          class="gallery__image"
          data-aos="zoom-in"
          data-aos-duration="1600"
        >
          <source
            srcset="
              ./images/gallery5_pc_1x.png 1x,
              ./images/gallery5_pc_2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery5_tab_1x.png 1x,
              ./images/gallery5_tab_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery_mob5_1x.png 1x,
              ./images/gallery_mob5_2x.png 2x
            "
            media="(min-width: 300px)"
          />
          <img src="./images/gallery_mob5_1x.png" alt="ice cream" />
        </picture>
        <picture
          class="gallery__image"
          data-aos="zoom-in"
          data-aos-duration="1800"
        >
          <source
            srcset="
              ./images/gallery10_pc_1x.png 1x,
              ./images/gallery10_pc_2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery10_tab_1x.png 1x,
              ./images/gallery10_tab_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery_mob10_1x.png 1x,
              ./images/gallery_mob10_2x.png 2x
            "
            media="(min-width: 300px)"
          />
          <img src="./images/gallery_mob10_1x.png" alt="ice cream" />
        </picture>
      </div>
      <div class="gallery__item col-6">
        <picture
          class="gallery__image"
          data-aos="zoom-in"
          data-aos-duration="2000"
        >
          <source
            srcset="
              ./images/gallery6_pc_1x.png 1x,
              ./images/gallery6_pc_2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery6_tab_1x.png 1x,
              ./images/gallery6_tab_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery_mob6_1x.png 1x,
              ./images/gallery_mob6_2x.png 2x
            "
            media="(min-width: 300px)"
          />
          <img src="./images/gallery_mob6_1x.png" alt="ice cream" />
        </picture>
      </div>
    </div>
  </div>
</section>
