<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="./" class="logo">
        <svg class="logo__svg">
          <use href="./images/symbol-defs.svg#icon-logo-min"></use>
        </svg>
      </a>
      <nav class="header__nav nav">
        <ul class="header__list">
          <li class="header__item">
            <a href="./" class="header__link">Home</a>
          </li>
          <li class="header__item">
            <a href="#footer" class="header__link">About us</a>
          </li>
          <li class="header__item">
            <a href="#about" class="header__link">How it’s made?</a>
          </li>
          <li class="header__item">
            <a href="#products" class="header__link">Our products</a>
          </li>
          <li class="header__item">
            <a href="#contacts" class="header__link">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="header__buttons hide">
        <button class="header__mobile-menu-open-btn" type="button">
          <svg width="20" height="12">
            <use href="./images/symbol-defs.svg#icon-menu-burger-btn-min"></use>
          </svg>
        </button>
        <button type="button" class="btn header__btn" data-modal-open>
          <span>Buy now</span><span>></span>
        </button>
      </div>
    </div>
  </div>
</header>
