<header class="header-hero">
  <div class="container header-hero__container">
    <div class="header">
      <a href="" class="logo">
        <svg class="logo__svg">
          <use href="./images/symbol-defs.svg#icon-logo-min"></use>
        </svg>
      </a>
      <nav class="header__nav nav">
        <ul class="header__list">
          <li class="header__item"><a href="" class="header__link">Home</a></li>
          <li class="header__item">
            <a href="" class="header__link">About us</a>
          </li>
          <li class="header__item">
            <a href="" class="header__link">How it’s made?</a>
          </li>
          <li class="header__item">
            <a href="" class="header__link">Our products</a>
          </li>
          <li class="header__item">
            <a href="" class="header__link">Contact</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="btn header__btn">
        <span>Buy now</span><span>></span>
      </button>
      <button class="header__mobile-menu-btn" type="button">
        <svg width="20" height="12">
          <use href="./images/symbol-defs.svg#icon-menu-burger-btn-min"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu not-visible">
      <button type="button" class="mobile-menu-close-btn">
        <svg width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-close-btn-min"></use>
        </svg>
      </button>
      <a href="" class="btn mobile-menu__btn"
        ><span>Buy now</span> <span class="mobile-menu__btn--symbol">></span></a
      >
      <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
          <a href="" class="header__link">Home</a>
        </li>
        <li class="mobile-menu__item">
          <a href="" class="header__link">About us</a>
        </li>
        <li class="mobile-menu__item">
          <a href="" class="mobile-menu__link">How it’s made?</a>
        </li>
        <li class="mobile-menu__item">
          <a href="" class="mobile-menu__link">Our products</a>
        </li>
        <li class="mobile-menu__item">
          <a href="" class="mobile-menu__link">Contact</a>
        </li>
      </ul>
    </div>
    <div class="hero">
      <h1 class="hero__title">
        <span class="title hero__title--white">ice cream made with</span>
        <span class="title hero__title">passion</span>
      </h1>
      <ul class="hero__buttons">
        <li><a href="" class="btn btn--inv hero__btn">Products</a></li>
        <li><a href="" class="btn hero__btn">How it’s made?</a></li>
      </ul>
      <article class="hero__benefits benefits">
        <picture benefits-img>
          <source
            srcset="
              ./images/hero-2-pc-1x-min.png 1x,
              ./images/hero-2-pc-2x-min.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/hero-2-tab-1x-min.png 1x,
              ./images/hero-2-tab-2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <img src="./images/hero-2-pc-2x-min.png" alt="milk" />
        </picture>
        <p class="benefits__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a href="" class="btn--circle"></a>
      </article>
      <div class="hero__bg-items">
        <div class="hero-bg__center">
          <picture class="hero-bg__center-img">
            <source
              srcset="
                ./images/hero-1-pc-1x-min.png 1x,
                ./images/hero-1-pc-2x-min.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/hero-1-tab-1x-min.png 1x,
                ./images/hero-1-tab-2x-min.png 2x
              "
              media="(min-width: 768px)"
            />
            <img src="./images/hero-1-pc-2x-min.png" alt="ice-cream" />
          </picture>
        </div>
        <div class="hero-bg__left-side">
          <ul class="left-side__list">
            <li left-side__item>
              <div left-side__white-circle></div>
              <span class="left-side__number title">16</span>
              <span class="left-side__text">cafes</span>
            </li>
            <li left-side__item>
              <div left-side__white-circle></div>
              <span class="left-side__number title">23</span>
              <span class="left-side__text">food trucks</span>
            </li>
          </ul>
        </div>
        <picture class="left-bottom__img">
          <source
            srcset="
              ./images/hero-3-pc-1x-min.png 1x,
              ./images/hero-3-pc-2x-min.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/hero-3-tab-1x-min.png 1x,
              ./images/hero-3-tab-2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <img src="./images/hero-3-pc-2x-min.png" alt="girl enjoy ice-cream" />
        </picture>
      </div>
    </div>
  </div>
</header>
