<section class="hero" id="home">
  <div class="container hero__container">
    <h1
      class="title hero__title hero__title--white"
      data-aos="zoom-in-right"
      data-aos-anchor="top-center"
      data-aos-duration="500"
    >
      ice cream <br />
      made with
      <span
        class="title hero__title"
        data-aos="zoom-right"
        data-aos-duration="1500"
        >passion</span
      >
    </h1>
    <ul class="hero__buttons">
      <li>
        <a href="#products" class="btn btn--inv hero__btn btn-keyframe"
          >Products</a
        >
      </li>
      <li>
        <a href="#about" class="btn hero__btn btn-keyframe">How it’s made?</a>
      </li>
    </ul>
    <div class="hero__hero-bg hero-bg">
      <div class="hero-bg__left-side left-side">
        <picture class="left-side__img">
          <source
            srcset="
              ./images/hero-2-pc-1x-min.png 1x,
              ./images/hero-2-pc-2x-min.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/hero-2-tab-1x-min.png 1x,
              ./images/hero-2-tab-2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <img src="./images/hero-2-pc-2x-min.png" alt="milk" />
        </picture>
        <p class="left-side__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a href="" class="left-side__btn btn-circle"></a>
      </div>
      <div class="hero-bg__center">
        <picture class="hero-bg__center-img">
          <source
            srcset="
              ./images/hero-1-pc-1x-min.png 1x,
              ./images/hero-1-pc-2x-min.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/hero-1-tab-1x-min.png 1x,
              ./images/hero-1-tab-2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/hero-mob-1x-min.png 1x,
              ./images/hero-mob-2x-min.png 2x
            "
            media="(min-width: 200px)"
          />
          <img src="./images/hero-mob-2x-min.png" alt="ice-cream" />
        </picture>
      </div>
      <div class="hero-bg__right-side right-side hide2">
        <ul class="right-side__list">
          <li
            class="right-side__item scale-number"
            data-aos="zoom-in-left"
            data-aos-duration="500"
          >
            <div class="right-side__white-circle"></div>
            <span class="right-side__number num">16</span>
            <span class="right-side__text">cafes</span>
          </li>

          <li
            class="right-side__item scale-number"
            data-aos="zoom-in-left"
            data-aos-duration="1000"
          >
            <div class="right-side__white-circle"></div>
            <span class="right-side__number">23</span>
            <span class="right-side__text">food trucks</span>
          </li>
        </ul>
      </div>
      <div class="hero-bg__bottom hide3">
        <picture class="hero-bg__bottom-img">
          <source
            srcset="
              ./images/hero-3-pc-1x-min.png 1x,
              ./images/hero-3-pc-2x-min.png 2x
            "
            media="(min-width: 1200px)"
            width="304"
          />
          <source
            srcset="
              ./images/hero-3-tab-1x-min.png 1x,
              ./images/hero-3-tab-2x-min.png 2x
            "
            media="(min-width: 768px)"
            width="190"
          />
          <img
            src="./images/hero-3-pc-2x-min.png"
            alt="girl enjoy ice-cream"
            width="304"
          />
        </picture>
        <div class="hero-bg__bottom-cloud">
          <p class="hero-bg__bottom-text">Love ice-cream and coding.</p>
        </div>
      </div>
    </div>
  </div>
  <button
    type="button"
    class="btn openVideoChat"
    style="position: absolute; top: 50px; right: 30px"
  >
    Open Video Chat
  </button>
</section>
