<header class="header-hero">
  <div class="container header-hero__container">
    <div class="header">
      <a href="" class="logo">
        <svg class="logo__svg">
          <use href="./images/symbol-defs.svg#icon-logo-min"></use>
        </svg>
      </a>
      <nav class="header__nav nav">
        <ul class="header__list">
          <li class="header__item"><a href="" class="header__link">Home</a></li>
          <li class="header__item">
            <a href="" class="header__link">About us</a>
          </li>
          <li class="header__item">
            <a href="" class="header__link">How it’s made?</a>
          </li>
          <li class="header__item">
            <a href="" class="header__link">Our products</a>
          </li>
          <li class="header__item">
            <a href="" class="header__link">Contact</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="btn header__btn">
        <span>Buy now</span><span>></span>
      </button>
      <button class="header__mobile-menu-btn" type="button">
        <svg>
          <use href="./images/symbol-defs.svg#icon-menu-burger-btn-min"></use>
        </svg>
      </button>
      <div class="mobile-menu">
        <ul class="header__list">
          <li class="header__item"><a href="" class="header__link">Home</a></li>
          <li class="header__item">
            <a href="" class="header__link">About us</a>
          </li>
          <li class="header__item">
            <a href="" class="header__link">How it’s made?</a>
          </li>
          <li class="header__item">
            <a href="" class="header__link">Our products</a>
          </li>
          <li class="header__item">
            <a href="" class="header__link">Contact</a>
          </li>
        </ul>
        <button type="button" class="btn header__btn">
          <span>Buy now</span><span>></span>
        </button>
      </div>
    </div>
    <div class="hero">
      <h1 class="hero__title title">passion</h1>
    </div>
  </div>
</header>
