<header class="header">
  <div class="container">
    <nav class="header__nav nav">
      <a href="" class="logo">
        <svg class="logo__svg">
          <use href="./images/symbol-defs.svg#icon-logo-min"></use>
        </svg>
      </a>
      <ul class="header__list">
        <li class="header__item"><a href="" class="header__link">Home</a></li>
        <li class="header__item">
          <a href="" class="header__link">About us</a>
        </li>
        <li class="header__item">
          <a href="" class="header__link">How it’s made?</a>
        </li>
        <li class="header__item">
          <a href="" class="header__link">Our products</a>
        </li>
        <li class="header__item">
          <a href="" class="header__link">Contact</a>
        </li>
      </ul>
      <button type="button" class="btn header__btn">
        <span>Buy now</span><span>></span>
      </button>
    </nav>
  </div>
</header>
