    <div class="backdrop is-hidden" data-modal-franchise>
      <div class="modal">
        <div class="price">
        <button type="button" class="modal-close" data-modal-franchise-close>
          <svg width="18" height="18">
            <use href="./images/symbol-defs.svg#icon-close-btn-min"></use>
          </svg>
        </button>
        <p class="modal__title">Leave your details and we will call you back</p>

        
    </div>
    <div class="information">
        <form>
          <label class="modal__label" for="user-name">Имя</label>
          <div class="modal__wrap">
            <input
              type="text"
              class="modal__input"
              name="user-name"
              required
              id="user-name"
            />
            <svg class="modal__icon" width="18" height="18">
              <use href="./images/symbol-defs.svg#icon-person"></use>
            </svg>
          </div>
          <label class="modal__label" for="user-name">Телефон</label>
          <div class="modal__wrap">
            <input type="text" class="modal__input" name="user-tel" required />
            <svg class="modal__icon" width="18" height="18">
              <use href="./images/symbol-defs.svg#icon-phone"></use>
            </svg>
          </div>
          <label class="modal__label" for="user-name">Почта</label>
          <div class="modal__wrap">
            <input type="text" class="modal__input" name="user-email" />
            <svg class="modal__icon" width="18" height="18">
              <use href="./images/symbol-defs.svg#icon-email"></use>
            </svg>
          </div>
          <button type="submit" class="btn modal__btn btn-keyframe">
            Buy now
          </button>
          </div>
        </form>
    </div>
    </div>
    </div>


