<section class="products" id="products">
  <div class="container">
    <p class="products__toptext top--text">100% natural</p>
    <h2 class="products__title title">products</h2>
    <ul class="products__list">

      <li class="products__item">
        <div class="products__card">
          <p class="products__name">ice cream</p>
          <div class="products__element">
          <span class="products__points"></span></div>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
         <div class="products__btn">
          <button type="button" class="btn--circle  products__open-btn1">
          </button>
        </div>
         <div class="products__des not-visible product">
<ul class="products__des-list">
    <li class="products__des-item">
        <span class="products__des-icon"></span>
            <p class="products__des-text">Vanilla</p>
        
    </li>
    <li class="products__des-item">
        <span class="products__des-icon"></span>
            <p class="products__des-text">Mint</p>
        
    </li>
    <li class="products__des-item">
        <span class="products__des-icon"></span>
            <p class="products__des-text">Strawberry</p>
        
    </li>
</ul>
        <div class="products__btn--close">
          <button type="button" class="btn--circle-return products__close-btn1">
          </button>
        </div>
    </div>
        </div>
      </li>

      <li class="products__item">
        <div class="products__card">
          <p class="products__name">ice coffee</p>
          <div class="products__element">
          <span class="products__points"></span></div>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <div class="products__btn">
          <button type="button" class="btn--circle  products__open-btn2">
          </button>
        </div>
         <div class="products__des not-visible product2">
        <ul class="products__des-list">
    <li class="products__des-item">
        <span class="products__des-icon"></span>
            <p class="products__des-text">Caramel</p>
        
    </li>
    <li class="products__des-item">
        <span class="products__des-icon"></span>
            <p class="products__des-text">Latte</p>
        
    </li>
    <li class="products__des-item">
        <span class="products__des-icon"></span>
            <p class="products__des-text">Chocolate</p>
        
    </li>
</ul>
        <div class="products__btn--close">
          <button type="button" class="btn--circle-return products__close-btn2">
          </button>
        </div>
    </div>
        </div>
      </li>

      <li class="products__item">
        <div class="products__card">
          <p class="products__name">milkshakes</p>
          <div class="products__element">
          <span class="products__points"></span></div>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          </p>
          <div class="products__btn">
          <button type="button" class="btn--circle products__open-btn3">
          </button>
        </div>
    
    <div class="products__des not-visible product3">
<ul class="products__des-list">
    <li class="products__des-item">
        <span class="products__des-icon"></span>
            <p class="products__des-text">Vanilla</p>
        
    </li>
    <li class="products__des-item">
        <span class="products__des-icon"></span>
            <p class="products__des-text">Blackberry</p>
        
    </li>
    <li class="products__des-item">
        <span class="products__des-icon"></span>
            <p class="products__des-text">Chocolate</p>
        
    </li>
</ul>
        <div class="products__btn--close">
          <button type="button" class="btn--circle-return products__close-btn3">
          </button>
        </div>
    </div></div>
      </li>
    </ul>
  </div>
</section>
