<section class="products" id="products">
  <div class="container">
    <p class="products__toptext top--text">100% natural</p>
    <h2 class="products__title title">products</h2>
    <ul class="products__list">

      <li class="products__item">
        <div class="products__card">
          <p class="products__name">ice cream</p>
          <div class="products__element">
          <span class="products__points"></span></div>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          </p>
         <div class="products__btn">
          <button class="btn--circle">
          </button>
        </div>
        </div>
      </li>

      <li class="products__item">
        <div class="products__card">
          <p class="products__name">ice coffee</p>
          <div class="products__element">
          <span class="products__points"></span></div>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <div class="products__btn">
          <button class="btn--circle">
          </button>
        </div>
        </div>
      </li>

      <li class="products__item">
        <div class="products__card">
          <p class="products__name">milkshakes</p>
          <div class="products__element">
          <span class="products__points"></span></div>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          </p>
          <div class="products__btn">
          <button type="button" class="btn--circle products__open-btn">
          </button>
        </div>
    
    <div class="products__des is-hidden description">
         <div class="products__btn">
          <button type="button" class="btn--circle-return products__close-btn">
          </button>
        </div>
        <p class="products__des-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam commodi, labore similique voluptates accusantium eveniet amet. Officiis natus praesentium maiores?</p>
    </div></div>
      </li>
    </ul>
  </div>
</section>
