<section class="products">
  <div class="container">
    <p class="products__toptext top--text">100% natural</p>
    <h2 class="products__title title">products</h2>
    <ul class="products__list">
      <li class="products__item first">
        <div class="products__card">
          <picture>
            <source
              srcset="
                ./images/products-1-pc-1x-min.png 1x,
                ./images/products-1-pc-2x-min.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/products-1-tab-2x-min.png 1x,
                ./images/products-1-tab-2x-min.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/products-1-mob-2x-min.png 1x,
                ./images/products-1-mob-2x-min.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/products-1-pc-1x-min.png"
              alt="Ice cream"
              class="products__img"
            />
          </picture>
          <p class="products__name">ice cream</p>
          <span class="products__points"></span>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button class="products__btn btn_arrow-small"></button>
        </div>
      </li>
      <li class="products__item second">
        <div class="products__card">
          <picture>
            <source
              srcset="
                ./images/products-2-pc-1x-min.png 1x,
                ./images/products-2-pc-2x-min.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/products-2-tab-2x-min.png 1x,
                ./images/products-2-tab-2x-min.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/products-2-mob-2x-min.png 1x,
                ./images/products-2-mob-2x-min.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/products-2-pc-1x-min.png"
              alt="Ice coffee"
              class="products__img"
            />
          </picture>
          <p class="products__name">ice coffee</p>
          <span class="products__points"></span>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button class="products__btn btn_arrow-small"></button>
        </div>
      </li>
      <li class="products__item third">
        <div class="products__card">
          <picture>
            <source
              srcset="
                ./images/products-3-pc-1x-min.png 1x,
                ./images/products-3-pc-2x-min.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/products-3-tab-2x-min.png 1x,
                ./images/products-3-tab-2x-min.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/products-3-mob-2x-min.png 1x,
                ./images/products-3-mob-2x-min.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/products-3-pc-1x-min.png"
              alt="Milkshakes"
              class="products__img"
            />
          </picture>
          <p class="products__name">milkshakes</p>
          <span class="products__points"></span>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button class="products__btn btn_arrow-small"></button>
        </div>
      </li>
    </ul>
  </div>
</section>
