<section class="customer-reviews">
  <div class="customer-reviews__container">
    <h2 class="hidden">reviews</h2>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <h3 class="hidden">customer review</h3>
          <picture>
            <source
              srcset="
                ./images/reviews/comments-1-1x-min.png 1x,
                ./images/reviews/comments-1-2x-min.png 2x
              "
            />

            <source
              srcset="
                ./images/reviews/comments-1-1x-min.png 1x,
                ./images/reviews/comments-1-2x-min.png 2x
              "
            />

            <img
              class="customer-reviews__photo"
              src="./images/reviews/comments-1-1x-min.png"
              width="85"
              height="85"
              alt="rewiewer photo"
            />
          </picture>

          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Temporibus animi quos saepe repellat mollitia corporis laborum
              commodi delectus debitis expedita!
            </p>
          </div>
          <p class="customer-reviews__location">
            First Name <br />
            Last Name, City
          </p>
        </div>
        <div class="swiper-slide">
          <h3 class="hidden">customer review</h3>
          <picture>
            <source
              srcset="
                ./images/reviews/comments-1-1x-min.png 1x,
                ./images/reviews/comments-1-2x-min.png 2x
              "
            />

            <source
              srcset="
                ./images/reviews/comments-1-1x-min.png 1x,
                ./images/reviews/comments-1-2x-min.png 2x
              "
            />

            <img
              class="customer-reviews__photo"
              src="./images/reviews/comments-1-1x-min.png"
              width="85"
              height="85"
              alt="rewiewer photo"
            />
          </picture>

          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Temporibus animi quos saepe repellat mollitia corporis laborum
              commodi delectus debitis expedita!
            </p>
          </div>
          <p class="customer-reviews__location">
            First Name <br />
            Last Name, City
          </p>
        </div>
        <div class="swiper-slide">
          <h3 class="hidden">customer review</h3>
          <picture>
            <source
              srcset="
                ./images/reviews/comments-1-1x-min.png 1x,
                ./images/reviews/comments-1-2x-min.png 2x
              "
            />

            <source
              srcset="
                ./images/reviews/comments-1-1x-min.png 1x,
                ./images/reviews/comments-1-2x-min.png 2x
              "
            />

            <img
              class="customer-reviews__photo"
              src="./images/reviews/comments-1-1x-min.png"
              width="85"
              height="85"
              alt="rewiewer photo"
            />
          </picture>

          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Temporibus animi quos saepe repellat mollitia corporis laborum
              commodi delectus debitis expedita!
            </p>
          </div>
          <p class="customer-reviews__location">
            First Name <br />
            Last Name, City
          </p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
