<section class="customer-reviews">
  <div class="customer-reviews__container">
    <h2 class="hidden">reviews</h2>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <h3 class="hidden">customer review</h3>
          <picture>
            <source
              srcset="
                ./images/reviews/comments-1-1x.jpg 1x,
                ./images/reviews/comments-1-2x.jpg 2x
              "
            />
            <source
              srcset="
                ./images/reviews/comments-1-1x.jpg 1x,
                ./images/reviews/comments-1-2x.jpg 2x
              "
            />
            <img
              class="customer-reviews__photo"
              src="./images/reviews/comments-1-1x.jpg"
              width="85"
              height="85"
              alt="rewiewer photo"
            />
          </picture>
          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              Programming is a symphony, not a solo. The team is an orchestra! I
              am grateful to our team for our mutual work.
            </p>
          </div>
          <p class="customer-reviews__location">
            Team Lead: Vitalii Khymchuk, Vinnytsia
          </p>
        </div>
        <div class="swiper-slide">
          <h3 class="hidden">customer review</h3>
          <picture>
            <source
              srcset="
                ./images/reviews/comments-2-1x.jpg 1x,
                ./images/reviews/comments-2-2x.jpg 2x
              "
            />
            <source
              srcset="
                ./images/reviews/comments-2-1x.jpg 1x,
                ./images/reviews/comments-2-2x.jpg 2x
              "
            />
            <img
              class="customer-reviews__photo"
              src="./images/reviews/comments-2-1x.jpg"
              width="85"
              height="85"
              alt="rewiewer photo"
            />
          </picture>
          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              "Coming together is a beginning. Keeping together is progress.
              Working together is success." H. Ford Friends, thank you for the
              great teamwork!
            </p>
          </div>
          <p class="customer-reviews__location">
            Scrum Master: Mykhailyk Yurii, Kyiv
          </p>
        </div>
        <div class="swiper-slide">
          <h3 class="hidden">customer review</h3>
          <picture>
            <source
              srcset="
                ./images/reviews/comments-3-1x.jpg 1x,
                ./images/reviews/comments-3-2x.jpg 2x
              "
            />
            <source
              srcset="
                ./images/reviews/comments-3-1x.jpg 1x,
                ./images/reviews/comments-3-2x.jpg 2x
              "
            />
            <img
              class="customer-reviews__photo"
              src="./images/reviews/comments-3-1x.jpg"
              width="85"
              height="85"
              alt="rewiewer photo"
            />
          </picture>
          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              My first experience in working with a team on a project and I want
              to say that it was very cool! 🔥 We worked together as a
              full-fledged mechanism!
            </p>
          </div>
          <p class="customer-reviews__location">
            Frontend Developer: Fainshtein Miriam, Israel, Netanya
          </p>
        </div>
        <div class="swiper-slide">
          <h3 class="hidden">customer review</h3>
          <picture>
            <source
              srcset="
                ./images/reviews/comments-4-1x.jpg 1x,
                ./images/reviews/comments-4-2x.jpg 2x
              "
            />
            <source
              srcset="
                ./images/reviews/comments-4-1x.jpg 1x,
                ./images/reviews/comments-4-2x.jpg 2x
              "
            />
            <img
              class="customer-reviews__photo"
              src="./images/reviews/comments-4-1x.jpg"
              width="85"
              height="85"
              alt="rewiewer photo"
            />
          </picture>
          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              Impressive teamwork experience, friendly atmosphere <br />and
              great result!
            </p>
          </div>
          <p class="customer-reviews__location">
            Frontend Developer: Vadym Khokhlov, Kyiv
          </p>
        </div>
        <div class="swiper-slide">
          <h3 class="hidden">customer review</h3>
          <picture>
            <source
              srcset="
                ./images/reviews/comments-5-1x.jpg 1x,
                ./images/reviews/comments-5-2x.jpg 2x
              "
            />
            <source
              srcset="
                ./images/reviews/comments-5-1x.jpg 1x,
                ./images/reviews/comments-5-2x.jpg 2x
              "
            />
            <img
              class="customer-reviews__photo"
              src="./images/reviews/comments-5-1x.jpg"
              width="85"
              height="85"
              alt="rewiewer photo"
            />
          </picture>
          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              It's so great to implement a project being a part of team with
              good-developed strategy and divided tasks between performers.
            </p>
          </div>
          <p class="customer-reviews__location">
            Frontend Developer: Lyubov Kirpa, Kharkiv
          </p>
        </div>
        <div class="swiper-slide">
          <h3 class="hidden">customer review</h3>
          <picture>
            <source
              srcset="
                ./images/reviews/comments-6-1x.jpg 1x,
                ./images/reviews/comments-6-2x.jpg 2x
              "
            />
            <source
              srcset="
                ./images/reviews/comments-6-1x.jpg 1x,
                ./images/reviews/comments-6-2x.jpg 2x
              "
            />
            <img
              class="customer-reviews__photo"
              src="./images/reviews/comments-6-1x.jpg"
              width="85"
              height="85"
              alt="rewiewer photo"
            />
          </picture>
          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              Well done is better than well said 🙂. Thanks to such a cool team
              it`s a please to see a good product. From just strangers we become
              a one mechanism.
            </p>
          </div>
          <p class="customer-reviews__location">
            Frontend Developer: Serhiy Starokozhev, Uman
          </p>
        </div>
        <div class="swiper-slide">
          <h3 class="hidden">customer review</h3>
          <picture>
            <source
              srcset="
                ./images/reviews/comments-7-1x.jpg 1x,
                ./images/reviews/comments-7-2x.jpg 2x
              "
            />
            <source
              srcset="
                ./images/reviews/comments-7-1x.jpg 1x,
                ./images/reviews/comments-7-2x.jpg 2x
              "
            />
            <img
              class="customer-reviews__photo"
              src="./images/reviews/comments-7-1x.jpg"
              width="85"
              height="85"
              alt="rewiewer photo"
            />
          </picture>
          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              Great project, great team! We have created a delicious site with a
              positive mood! Thanks to the team for the well-coordinated work.
            </p>
          </div>
          <p class="customer-reviews__location">
            Frontend Developer: Alina Balianitsia, Kharkiv
          </p>
        </div>
        <div class="swiper-slide">
          <h3 class="hidden">customer review</h3>
          <picture>
            <source
              srcset="
                ./images/reviews/comments-8-1x.jpg 1x,
                ./images/reviews/comments-8-2x.jpg 2x
              "
            />
            <source
              srcset="
                ./images/reviews/comments-8-1x.jpg 1x,
                ./images/reviews/comments-8-2x.jpg 2x
              "
            />
            <img
              class="customer-reviews__photo"
              src="./images/reviews/comments-8-1x.jpg"
              width="85"
              height="85"
              alt="rewiewer photo"
            />
          </picture>
          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              I'm honored to participate in the project with such a great team.
              It was my first experience of collective work and I'm totally
              satisfied with the result.
            </p>
          </div>
          <p class="customer-reviews__location">
            Frontend Developer: Olena Shykova, Dnipro
          </p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
