<section class="customer-reviews">
  <div class="customer-reviews__container">
    <h2 class="hidden">reviews</h2>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <h3 class="hidden">customer review</h3>
          <picture>
            <source
              srcset="
                ./images/reviews/comments-1-1x.jpg 1x,
                ./images/reviews/comments-1-2x.jpg 2x
              "
            />
            <source
              srcset="
                ./images/reviews/comments-1-1x.jpg 1x,
                ./images/reviews/comments-1-2x.jpg 2x
              "
            />
            <img
              class="customer-reviews__photo"
              src="./images/reviews/comments-1-1x.jpg"
              width="85"
              height="85"
              alt="rewiewer photo"
            />
          </picture>
          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              Programming is a symphony, not a solo. The team is an orchestra!
              Thank you very much to the team for a great experience.
            </p>
          </div>
          <p class="customer-reviews__location">Vitalii Khymchuk, Vinnytcia</p>
        </div>
        <div class="swiper-slide">
          <h3 class="hidden">customer review</h3>
          <picture>
            <source
              srcset="
                ./images/reviews/comments-2-1x.jpg 1x,
                ./images/reviews/comments-2-2x.jpg 2x
              "
            />
            <source
              srcset="
                ./images/reviews/comments-2-1x.jpg 1x,
                ./images/reviews/comments-2-2x.jpg 2x
              "
            />
            <img
              class="customer-reviews__photo"
              src="./images/reviews/comments-2-1x.jpg"
              width="85"
              height="85"
              alt="rewiewer photo"
            />
          </picture>
          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              "Coming together is a beginning. Keeping together is progress.
              Working together is success." H. Ford Friends, thank you for the
              great teamwork!
            </p>
          </div>
          <p class="customer-reviews__location">Mykhailyk Yurii, Kyiv</p>
        </div>
        <div class="swiper-slide">
          <h3 class="hidden">customer review</h3>
          <picture>
            <source
              srcset="
                ./images/reviews/comments-3-1x.jpg 1x,
                ./images/reviews/comments-3-2x.jpg 2x
              "
            />
            <source
              srcset="
                ./images/reviews/comments-3-1x.jpg 1x,
                ./images/reviews/comments-3-2x.jpg 2x
              "
            />
            <img
              class="customer-reviews__photo"
              src="./images/reviews/comments-3-1x.jpg"
              width="85"
              height="85"
              alt="rewiewer photo"
            />
          </picture>
          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              My first experience in working with a team on a project and I want
              to say that it was very cool! 🔥 We worked together as a
              full-fledged mechanism!
            </p>
          </div>
          <p class="customer-reviews__location">
            Fainshtein Miriam, Israel, Netanya
          </p>
        </div>
        <div class="swiper-slide">
          <h3 class="hidden">customer review</h3>
          <picture>
            <source
              srcset="
                ./images/reviews/comments-4-1x.jpg 1x,
                ./images/reviews/comments-4-2x.jpg 2x
              "
            />
            <source
              srcset="
                ./images/reviews/comments-4-1x.jpg 1x,
                ./images/reviews/comments-4-2x.jpg 2x
              "
            />
            <img
              class="customer-reviews__photo"
              src="./images/reviews/comments-4-1x.jpg"
              width="85"
              height="85"
              alt="rewiewer photo"
            />
          </picture>
          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              Impressive teamwork experience, friendly atmosphere <br />and
              great result!
            </p>
          </div>
          <p class="customer-reviews__location">Vadym Khokhlov, Kyiv</p>
        </div>
        <div class="swiper-slide">
          <h3 class="hidden">customer review</h3>
          <picture>
            <source
              srcset="
                ./images/reviews/comments-5-1x.jpg 1x,
                ./images/reviews/comments-5-2x.jpg 2x
              "
            />
            <source
              srcset="
                ./images/reviews/comments-5-1x.jpg 1x,
                ./images/reviews/comments-5-2x.jpg 2x
              "
            />
            <img
              class="customer-reviews__photo"
              src="./images/reviews/comments-5-1x.jpg"
              width="85"
              height="85"
              alt="rewiewer photo"
            />
          </picture>
          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              It is even better to implement a project with a team with a
              competently divided strategy and divisions between the victorious
              workers.
            </p>
          </div>
          <p class="customer-reviews__location">Lyubov Kirpa, Kharkiv</p>
        </div>
        <div class="swiper-slide">
          <h3 class="hidden">customer review</h3>
          <picture>
            <source
              srcset="
                ./images/reviews/comments-6-1x.jpg 1x,
                ./images/reviews/comments-6-2x.jpg 2x
              "
            />
            <source
              srcset="
                ./images/reviews/comments-6-1x.jpg 1x,
                ./images/reviews/comments-6-2x.jpg 2x
              "
            />
            <img
              class="customer-reviews__photo"
              src="./images/reviews/comments-6-1x.jpg"
              width="85"
              height="85"
              alt="rewiewer photo"
            />
          </picture>
          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              Serhiy work included section "Contacts", beautiful map & franchise
              modals.<br />
              Looks great!
            </p>
          </div>
          <p class="customer-reviews__location">Serhiy Starokozhev, Uman</p>
        </div>
        <div class="swiper-slide">
          <h3 class="hidden">customer review</h3>
          <picture>
            <source
              srcset="
                ./images/reviews/comments-7-1x.jpg 1x,
                ./images/reviews/comments-7-2x.jpg 2x
              "
            />
            <source
              srcset="
                ./images/reviews/comments-7-1x.jpg 1x,
                ./images/reviews/comments-7-2x.jpg 2x
              "
            />
            <img
              class="customer-reviews__photo"
              src="./images/reviews/comments-7-1x.jpg"
              width="85"
              height="85"
              alt="rewiewer photo"
            />
          </picture>
          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              Great project, great team! We have created a delicious site with a
              positive mood! Thanks to the team for the well-coordinated work.
            </p>
          </div>
          <p class="customer-reviews__location">Alina Balianitsia, Kharkiv</p>
        </div>
        <div class="swiper-slide">
          <h3 class="hidden">customer review</h3>
          <picture>
            <source
              srcset="
                ./images/reviews/comments-8-1x.jpg 1x,
                ./images/reviews/comments-8-2x.jpg 2x
              "
            />
            <source
              srcset="
                ./images/reviews/comments-8-1x.jpg 1x,
                ./images/reviews/comments-8-2x.jpg 2x
              "
            />
            <img
              class="customer-reviews__photo"
              src="./images/reviews/comments-8-1x.jpg"
              width="85"
              height="85"
              alt="rewiewer photo"
            />
          </picture>
          <div class="customer-reviews__text-area">
            <p class="customer-reviews__content">
              I had an honor to work with "ice cream" project with a great team.
              It was my first experience of collective work, the result of I am
              totally satisfied.
            </p>
          </div>
          <p class="customer-reviews__location">Shykova Olena, Dnipro</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
