.btn {
  display: block;
  width: 159px;
  height: 44px;
  border-radius: 50px;
  @include flex-center;
  border: none;

  background-color: $main-bg-color;
  color: $accent-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  &:hover,
  &:focus {
    background-color: #ecebeb;
    color: $accent-color;
  }

  &--inv {
    background-color: $title-color;
    color: $extra-text-color;
  }
}

.btn-circle {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: $main-bg-color;
  color: $accent-color;
  background-image: url(../images/arrow-right.svg);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;
  &:hover,
  &:focus {
    background-color: $sub-title-color;
  }
}

.btn-circle-return {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: $main-bg-color;
  color: $accent-color;
  background-image: url(../images/arrow-right.svg);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);

  &:hover,
  &:focus {
    background-color: $sub-title-color;
  }
}

.btn-keyframe {
  animation: wiggle 2s linear infinite;
}
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-2deg);
  }
  20% {
    transform: rotateZ(1deg);
  }
  25% {
    transform: rotateZ(-1deg);
  }
  30% {
    transform: rotateZ(1deg);
  }
  35% {
    transform: rotateZ(-1deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
