.about {
    background: $secondary-bg-color;
    padding-top: 60px;
    padding-bottom: 20px;
    @media screen and (max-width: 767px){
    background-image: url(../images/how-it-made-2-mob-1x-min.png);
    background-repeat: no-repeat;
    background-position: 0 80%;
    background-size: contain;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/how-it-made-2-mob-2x-min.png);
    }
    }

    &__label {
        text-align: center;
        margin-bottom: 15px;
        font-family: 'Titan One';
        font-size: 18px;
        line-height: 1.11;
        text-transform: uppercase;
        color: $sub-title-color;
    }
}

.title {
    font-family: 'Titan One', sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $title-color;
}


.about__image {
    margin-bottom: 40px;
        &__picture {
            margin-left: auto;
            margin-right: auto;
        }
}

.about__explanation {
    margin-left: 30px;
    margin-right: 30px;
}    

.about__pre-text {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.58;
        color: $secondary-text-color;
        margin-bottom: 30px;
}

.about__text {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.58;
        color: $main-text-color;
        margin-bottom: 17px;
    }

.about__after-text {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.58;
        color: $main-text-color;
        margin-bottom: 47px;
}

.about__btn {
    display: block;
    width: 159px;
    height: 44px;
    border-radius: 999px;
    @include flex-center;
    border: none;
  
    background-color: $main-bg-color;
    color: $accent-color;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
  
    &:hover,
    &:focus {
      background-color: #ecebeb;
      color: $accent-color;
    }
  
    &--inv {
      background-color: $title-color;
      color: $extra-text-color;
    }
  }
  


.btn__bracket {
    margin-left: 14px;
    color: $accent-color;

    &:hover,
    &:focus {
        background-color: #ecebeb;
        color: $accent-color;
    }
}