footer {
  margin-top: 40px;
  background-color: #fff5f6;
}

.footer__slogan {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  width: 250px;
  text-align: left;
  margin-bottom: 40px;
}

.footer__slogan--light {
  font-size: 18px;
  line-height: calc(21 / 18);
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 16px;
}

.footer__slogan--dark {
  font-size: 34px;
  line-height: calc(39 / 34);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.footer-socials__list {
  display: flex;
  justify-content: end;
  gap: 28.24px;
  margin-bottom: 40px;
}

.footer-contact {
  color: #000000;
}
.footer-contact__tel {
  color: #d41443;
}

.footer-copyright {
  position: absolute;
  padding-top: 16px;
  border-top: #e1e1e1 1px solid;
  width: 100%;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(21 / 14);
  text-align: center;
  color: #907e82;
}
