.header__wrapper {
  position: absolute;
  top: 8px;
  left: 0px;
  z-index: 3;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mob-only {
    width: calc(100% - 40px);
    left: 20px;
  }

  @include tab-pc {
    position: fixed;
    z-index: 3;
    top: 37px;
    left: 50%;
    transform: translateX(-50%);
    width: 1168px;

    border-radius: 20px;
    background-color: rgba(255, 165, 186, 0.5);
    @include tab-only {
      width: 704px;
      top: 32px;
    }
  }
}

.logo__svg {
  max-width: 199px;
  max-height: 50px;
}

.nav {
  display: none;

  @include pc-only {
    display: block;
  }
}

.header__list {
  display: flex;
}
.header__item:not(:last-child) {
  margin-right: 35px;
}
.header__link {
  padding-top: 14px;
  padding-bottom: 14px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;

  color: $extra-text-color;

  &:hover,
  &:focus {
    color: rgba(212, 20, 67, 1);
  }
}

.header__buttons {
  display: flex;
}

.header__btn {
  display: none;
  @include tab-pc {
    display: block;
    width: 160px;
    height: 44px;
    margin-left: 32px;
  }
}
