.header-hero {
  padding-top: 8px;
  padding-bottom: 158px;
  background-color: #ffb8ca;
  position: relative;
  z-index: -3;
}

.header-hero__container {
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
}
.logo {
}
.logo__svg {
  max-width: 199px;
  max-height: 50px;
}
.header__nav {
}
.nav {
  display: none;
}
.header__list {
}
.header__item {
}
.header__link {
}

.header__btn {
  display: none;
}

.hero__title {
  margin-top: 136px;
  margin-bottom: 20px;
  width: 218px;

  font-size: 48px;
  line-height: 96.5%;
}

.hero__title--white {
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $extra-text-color;
}

.hero__buttons {
  display: flex;
}

.hero__btn {
  height: 24px;
  width: 83px;

  font-size: 8px;
  line-height: 1.25;

  &.btn--inv {
    width: 62px;
    margin-right: 8px;
  }
}

.hero-bg__center {
  display: none;
  position: absolute;
  overflow: visible;
  z-index: -2;
  top: 75px;
  left: 63%;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  transform: translateX(-50%);

  background-color: #ffa5ba;
}

.hero-bg__center-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 171px;
  height: 410px;
}

.hero-bg__right-side {
  display: none;
}

.hero-bg__left-side {
  display: none;
}

.hero-bg__bottom-img {
  display: none;
}

.header__mobile-menu-open-btn,
.mobile-menu-close-btn {
  border: none;
  background-color: transparent;
}

.mobile-menu-close-btn {
  position: absolute;
  display: flex;
  top: 20px;
  right: 34px;
}

.mobile-menu.not-visible {
  transform: translateX(-250px);
  transition: transform 500ms linear;
}

.mobile-menu {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;

  padding-top: 60px;
  width: 250px;
  height: 100%;
  transform: translateX(0);
  transition: transform 500ms linear;

  background-color: #ffb8ca;
}

.mobile-menu__btn {
  max-width: 209px;
  height: 44px;
}

.bracket-icon {
  margin-left: 16px;
  margin-top: 2px;
}
