.header-hero {
  padding-top: 8px;
  background-color: #ffb8ca;
}

.header-hero__container {
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
}
.logo {
}
.logo__svg {
  width: 199px;
  height: 50px;
}
.header__nav {
}
.nav {
  display: none;
}
.header__list {
}
.header__item {
}
.header__link {
}

.header__btn {
  display: none;
}
.header__mobile-menu-btn,
.mobile-menu-close-btn {
  border: none;
  background-color: transparent;
}

.mobile-menu-close-btn {
  position: absolute;
  display: flex;
  top: 20px;
  right: 34px;
}

.mobile-menu__btn--symbol {
  margin-left: 16px;
}

.mobile-menu.not-visible {
  transform: translateX(-100%);
  transition: transform 500ms linear;
}

.mobile-menu {
  position: absolute;
  top: 0;

  padding-top: 60px;
  width: 100%;
  height: 100%;
  transform: translateX(0%);
  transition: transform 500ms linear;

  background-color: #ffb8ca;
}
