.header-hero {
  background-color: #ffb8ca;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.header-hero__container {
  position: relative;
  padding-top: 8px;
  padding-bottom: 158px;
  overflow: visible;
  @include tab-only {
    padding-top: 32px;
    padding-bottom: 190px;
  }
  @include pc-only {
    padding-bottom: 316px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}
.logo {
}
.logo__svg {
  max-width: 199px;
  max-height: 50px;
}
.header__nav {
}
.nav {
  display: none;
}
.header__list {
}
.header__item {
}
.header__link {
}

.header__buttons {
  display: flex;
}

.header__btn {
  display: none;
  @include tab-pc {
    display: block;
    width: 160px;
    height: 44px;
    margin-left: 32px;
  }
}

.title.hero__title {
  text-align: left;
  margin-top: 136px;
  margin-bottom: 20px;
  width: 218px;

  font-size: 48px;
  line-height: 96.5%;
  @include tab-only {
    margin-top: 20px;

    font-size: 34px;
    line-height: 90.5%;
  }
  @include pc-only {
    margin-top: 60px;
  }
}

.title.hero__title--white {
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $extra-text-color;

  @include tab-only {
    font-size: 22px;
    line-height: 1.14;
  }
}

.hero__buttons {
  display: flex;
}

.hero__btn {
  height: 24px;
  width: 83px;

  font-size: 8px;
  line-height: 1.25;

  &.btn--inv {
    width: 62px;
    margin-right: 8px;
  }
}

.hero-bg__center {
  position: absolute;
  overflow: visible;
  z-index: -2;
  top: 87px;
  left: 65%;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  transform: translateX(-50%);

  background-color: #ffa5ba;

  @include tab-only {
    left: 415px;
    top: 43px;
  }
}

.hero-bg__center-img {
  position: absolute;
  top: 63%;
  left: 48%;
  transform: translate(-50%, -50%);
  width: 171px;
  height: 410px;
  @include tab-only {
    top: 248px;
  }
}

.hero-bg__right-side {
  display: none;
  @include tab-pc {
    display: block;
    position: absolute;
    right: 32px;
    top: 92px;
  }
}

.right-side__item {
  position: relative;
  text-align: right;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.right-side__white-circle {
  position: absolute;
  z-index: -1;
  right: -10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $main-bg-color;
}
.right-side__number {
}

.right-side__text {
  font-size: 8px;
  line-height: 1.25;

  color: $extra-text-color;
}

.right-side__text {
  display: block;
}

.hero-bg__left-side {
  display: none;
  @include tab-pc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 152px;
    justify-content: flex-start;
    position: absolute;
    bottom: 16px;
    left: 32px;
  }
}

.left-side__img {
  grid-row: 1 / 3;
}

.left-side__text {
  width: 114px;
  align-self: flex-end;

  font-size: 8px;
  line-height: 150%;
  color: $extra-text-color;
}

.left-side__btn {
  width: 18px;
  height: 18px;
  margin-top: 7px;
}

.hero-bg__bottom {
  display: none;
  @include tab-pc {
    display: block;
    position: absolute;
    bottom: 0;
    right: 32px;
    width: 190px;
    height: 150px;
  }
}
