.hero {
  background-color: #ffb8ca;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.hero__container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 158px;
  overflow: visible;
  @include tab-only {
    padding-top: 20px;
    padding-bottom: 190px;
  }
  @include pc-only {
    padding-top: 60px;
    padding-bottom: 316px;
  }
}

.title.hero__title {
  text-align: left;
  margin-bottom: 20px;
  width: 218px;

  font-size: 48px;
  line-height: 96.5%;
  @include tab-only {
    font-size: 34px;
    line-height: 90.5%;
  }
  @include pc-only {
    width: 277px;
    font-size: 58px;
    line-height: 90.5%;
  }
}

.title.hero__title--white {
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $extra-text-color;

  @include tab-only {
    font-size: 22px;
    line-height: 1.14;
  }
  @include pc-only {
    font-size: 38px;
    line-height: 1.16;
  }
}

.hero__buttons {
  display: flex;
}

.hero__btn {
  height: 24px;
  width: 83px;

  font-size: 8px;
  line-height: 1.25;

  @include pc-only {
    width: 138px;
    height: 40px;
    font-size: 14px;
    line-height: 1.28;
  }

  &.btn--inv {
    width: 62px;
    margin-right: 8px;
    @include pc-only {
      width: 107px;
    }
  }
}

.hero-bg__center {
  position: absolute;
  overflow: visible;
  z-index: -2;
  top: 87px;
  left: 65%;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  transform: translateX(-50%);

  background-color: #ffa5ba;

  @include tab-only {
    left: 415px;
    top: -40px;

    width: 335px;
    height: 333px;
  }
  @include pc-only {
    top: -37px;
    left: 784px;

    width: 534px;
    height: 534px;
  }
}

.hero-bg__center-img {
  position: absolute;
  top: 63%;
  left: 48%;
  transform: translate(-50%, -50%);
  width: 171px;
  height: 410px;
  @include tab-only {
    top: 248px;
  }
  @include pc-only {
    top: 178px;
    left: 375px;

    width: 557px;
    height: 236px;
  }
}

.hero-bg__right-side {
  display: none;
  @include tab-pc {
    display: block;
    position: absolute;
    right: 51px;
    top: 16px;
  }
  @include pc-only {
    top: 68px;
    right: 35px;
  }
}

.right-side__item {
  position: relative;
  text-align: right;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.right-side__number {
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  color: $title-color;
  @include pc-only {
    font-size: 46px;
    line-height: 1.15;
  }
}

.right-side__white-circle {
  position: absolute;
  z-index: -1;
  right: -10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $main-bg-color;
  @include pc-only {
    top: -5px;
    right: -20px;
    width: 30px;
    height: 30px;
  }
}

.right-side__text {
  font-size: 8px;
  line-height: 1.25;

  color: $extra-text-color;

  @include pc-only {
    font-size: 14px;
    line-height: 1.28;
  }
}

.right-side__text {
  display: block;
}

.hero-bg__left-side {
  display: none;
  @include tab-pc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 152px;
    justify-content: flex-start;
    position: absolute;
    bottom: 16px;
    left: 32px;
    @include pc-only {
      grid-auto-columns: 213px;
    }
  }
}

.left-side__img {
  grid-row: 1 / 3;
}

.left-side__text {
  width: 114px;
  align-self: flex-end;

  font-size: 8px;
  line-height: 150%;
  color: $extra-text-color;
  @include pc-only {
    width: 200px;
    font-size: 14px;
    line-height: 140%;
  }
}

.left-side__btn {
  width: 18px;
  height: 18px;
  margin-top: 7px;
  @include pc-only {
    width: 26px;
    height: 26px;
    margin-top: 20px;
  }
}

.hero-bg__bottom-img {
  display: none;
  @include tab-pc {
    display: block;
    position: absolute;
    bottom: 0;
    right: 32px;
    height: 150px;
  }
  @include pc-only {
    bottom: 91px;
  }
}

.right-side__list .right-side__item:hover,
.right-side__list .right-side__item:focus {
  transition-duration: 350ms;
  transform: scale(1.3);
}
