// .products {
// }

.products__toptext {
  padding-bottom: 15px;
}

.products__title {
  padding-bottom: 8px;
}

.products__list {
  @include tab-only {
    display: flex;
    gap: 16px;
  }

  @include pc-only {
    gap: 32px;
  }
}

.products__item {
  position: relative;
  margin-top: 150px;

  &.first {
    background-color: #ffb8ca;
    border-radius: 24px;
  }

  &.second {
    background-color: #f0d1a5;
    border-radius: 24px;
  }

  &.third {
    background-color: #c2e297;
    border-radius: 24px;
  }

  @include tab-only {
    margin-top: 160px;
  }

  @include pc-only {
    margin-top: 260px;
  }
}
.products__card {
  width: 100%;
  height: 480px;

  @include tab-only {
    width: 225px;
    height: 475px;
  }

  @include pc-only {
    height: 535px;
    width: 370px;
  }
}

.products__img {
  width: 100%;
  position: absolute;
  top: -25%;
}

.products__name {
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $extra-text-color;
  margin-top: 160px;

  @include tab-only {
    margin-top: 120px;
  }

  @include pc-only {
    margin-top: 165px;
  }
}

.products__points {
  display: inline-flex;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  color: white;
  text-align: center;

  &:after {
    color: white;
    margin-left: 4px;
  }

  &:before {
    color: white;
    margin-right: 4px;
  }
}

.products__text {
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: $extra-text-color;
}
// .products__btn {
// }
// .btn_arrow-small {
// }
