.reviews {
  padding-top: 30px;
  padding-bottom: 30px;
  @include tab-pc {
    padding-top: 35px;
    padding-bottom: 40px;
  }
  @include pc-only {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.reviews__container {
  @extend .container;
  width: 100%;
  text-align: center;
}

.reviews__photo {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 32px;
  width: 85px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  @media (min-width: 772px) {
    margin-bottom: 20px;
  }
  @media (min-width: 1200px) {
    margin-bottom: 16px;
  }
}

.reviews__text-area {
  position: relative;
  font-size: 12px;
  line-height: 2.55;
  margin-bottom: 32px;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #fafafa;
  @mixin tab-only {
    font-size: 14px;
    line-height: 2.16;
  }
  @media (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.86;
  }

  &::before {
    content: '';

    display: inline-block;
    width: 54px;
    height: 40px;
    position: absolute;
    left: 50px;
    top: 26px;
    background-image: url('../images/symbol-defs.svg#icon-bracket');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.reviews__content {
  margin: 0;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  background-image: repeating-linear-gradient(
    #fafafa00,
    #fafafa00 29.6px,
    #e1e1e1 1px,
    #e1e1e1 30.6px
  );
  @include pc-only {
    background-image: repeating-linear-gradient(
      #fafafa00,
      #fafafa00 28.76px,
      #e1e1e1 1px,
      #e1e1e1 29.76px
    );
  }
}

.eviews__location {
  margin: 0;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 1.86;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.86;
  }
}

.swiper-container {
  overflow: hidden;
}

.swiper-wrapper {
  margin-bottom: 16px;
}

.swiper-pagination {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;

  &::after {
    content: '';

    position: absolute;
    left: 50%;
    bottom: 94px;
    width: 32px;
    height: 4px;
    transform: translateX(-50%);
    background-image: url('../images/symbol-defs.svg#icon-marker');
    background-repeat: no-repeat;
    background-size: contain;
    @include tab-pc {
      bottom: 102px;
    }
    @include pc-only {
      bottom: 118px;
    }
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  width: 14px;
  height: 12px;
  background: none;
  background-image: url('../images/symbol-defs.svg#icon-home');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 0;
}
